.container {
  padding-top: 20px;
}

.container-title {
  text-align: center;
  margin-bottom: 20px;
}

.container-pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  padding: 6px 16px;
  background-color: white;
  font-size: 18px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}